@model UserAccount

<form method="post">

    Email<input type="email" asp-for="UserEmail" class="form-control"/><br />
    Password<input type="text" asp-for="UserPass" class="form-control"/><br />

    <input type="submit" class="btn btn-primary" value="Submit"/>

</form>